<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title size="large" >
      Train More
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image" no-scroll padding>
  <img src="https://firebasestorage.googleapis.com/v0/b/egym-a0e75.appspot.com/o/logo.png?alt=media&token=76b6b638-9109-41a7-90ed-5a78b47d4123" a>



  <div id="container"><br><br>
    <br><br><br>
    <br><br><br>
    <br>
    <strong>Welcome!</strong>
  </div>

</ion-content>
<ion-button expand="full" color="dark" size="large"  [routerLink]="['/signin']" >Next <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
