<div class="container">
    <div class="section-title">
        <h2>Sports in ouy gym</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="blog-slides owl-carousel owl-theme">
        <div class="single-blog-post-item">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="post-image bg-1">
                        <img src={{sport1.sportimage}} alt="image" >
                        <a  class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="post-content">
                        <span class="sub-title">{{sport1.nameSp}}</span>
                        <h3><a routerLink="/signin">{{sport1.description}}</a></h3>
                        <a routerLink="/signin" class="default-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-blog-post-item">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="post-image bg-2">
                        <img src={{sport2.sportimage}} alt="image" >
                        <a  class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-6 p-0" >
                    <div class="post-content">
                        <span class="sub-title">{{sport2.nameSp}}nn</span>
                        <h3><a routerLink="/signin">{{sport2.description}}</a></h3>
                        <a routerLink="/signin" class="default-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-blog-post-item">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="post-image bg-3">
                        <img src={{sport3.sportimage}} alt="image" >
                        <a  class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="post-content">
                        <span class="sub-title">{{sport3.nameSp}}</span>
                        <h3><a routerLink="/signin">{{sport3.description}}</a></h3>
                        <a routerLink="/signin" class="default-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>