<div class="main-banner jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="main-banner-content">
            <div class="section-title">
                <span class="sub-title">Welcome </span>
                <h2>Train More</h2>
            </div>  

            <div class="btn-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1000ms">
                <a routerLink="/signin" class="default-btn">Sign In</a>
                <a routerLink="/register" class="optional-btn">Get Started</a>
            </div>
        </div>

        <div class="banner-video-slides owl-carousel owl-theme">
            <div class="banner-video-box">
                <img src="assets/img/main-banner-video-img1.jpg" alt="image">

                <div class="content">
                    <a href="https://www.youtube.com/watch?v=wkTFd3QZSP0" class="video-btn popup-youtube"><i class="flaticon-play"></i></a>
                    <span class="title">Trailer</span>
                </div>
            </div>

        </div>
    </div>
</div>
            
    