<app-navbar-style-one></app-navbar-style-one>

<app-main-banner></app-main-banner>


<section class="blog-area pb-100">
    <app-news></app-news>
</section>

<section class="team-area ptb-100">
    <app-team></app-team>
</section>


<div class="partner-area pt-100 pb-70 pt-0-res">
    <app-partner></app-partner>

    <div class="partner-shape1"><img src="assets/img/partner-shape.png" alt="image"></div>
</div>


<section class="social-area pt-100 pb-70">
    <app-social></app-social>
</section>

<app-footer-style-two></app-footer-style-two>